# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.backup
.env.production

# IDE / editor files
/.idea
/.vscode
/.phpunit.cache
/.fleet
/.zed

# Node / Composer
/node_modules
/vendor

# Laravel build and storage
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Keep data folder
!data/
!.gitignore
